{% extends "base.html" %}
{% block title %}车间管理{% endblock %}

{% block page_content %}
{% load static %}

<link href="{% static "bootstrap-table/bootstrap-table.min.css"%}" rel="stylesheet" />
<script src="{% static "bootstrap-table/bootstrap-table.min.js"%}"></script>
<script src="{% static "bootstrap-table/locale/bootstrap-table-zh-CN.js"%}"></script>

<div class=" container-fluid table-responsive">
<h1 class="jumbotron masthead ">车间管理</h1>
    <div class="tab-content" id="tabContent">
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-info btn-sm rightSize">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-info btn-sm rightSize">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-info btn-sm rightSize">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;删除
            </button>
             <button id="btn_upload" type="button" class="btn btn-info btn-sm rightSize">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;批量导入
            </button>

        </div>
        <table id="tb_devices"></table>
    </div>
    <form>
        {% csrf_token %}
        <input type="file" id="fileupload" data-url="/api/v1/import_data/"/>
    </form>

</div>
 <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        请稍候。。。
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="notify">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block page_script %}
<!-- get data from server -->
<script src="{% static "workshopApp.js"%}"></script>
<script src="{% static "jquery-file-upload/js/vendor/jquery.ui.widget.js"%}"></script>
<script src="{% static "jquery-file-upload/js/jquery.iframe-transport.js"%}"></script>
<script src="{% static "jquery-file-upload/js/jquery.fileupload.js"%}"></script>
<script src="{% static "bootstrap-dist/js/bootstrap.min.js"%}"></script>

<script>

$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        send: function (e, data) { $('#loading').modal('show'); },
        done: function (e, data) {
            $('#loading').modal('hide');
            $('#notify').modal('show');
        }
    });
});

function start_upload()
{
    document.getElementById("btn_upload").click();
}
</script>
{% endblock %}
